<a href="https://colab.research.google.com/github/Athulraj72/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question2

In [1]:
 
Name ="Athul Raj"
Address ="kottiyoor, kannur"
Telephone_no ="1112223334"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Telephone no:"+Telephone_no)

 Name:Athul Raj
 Address:kottiyoor, kannur
 Telephone no:1112223334

Question 3

In [2]:
 print("Your name is",Name)

Your name is Athul Raj

Question 4

In [5]:
 
#area of a rectangle 
Width = float(input("Enter the width: ")) 
Height = float(input("Enter the height: ")) 
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 6
Enter the height: 5
The area is 30.0 Square units

Question5

In [6]:
 
#area of a triangle 
Base= float(input("Enter the base: "))
Height= float(input("Enter the height: ")) 
area = .5*Base*Height
print("The area is",area, "square units")

Enter the base: 3
Enter the height: 5
The area is 7.5 square units

Queation6

In [7]:
 
#area of a circle
radius = float(input("Enter the radius: ")) 
area = 3.14*radius**2
print("The area is", area, "square units")

Enter the radius: 4
The area is 50.24 square units

Question 7

In [8]:
 
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: Athul raj
Enter your age: 20
My name is Athul raj and my age is 20

Question 8

In [9]:
 
a= float(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 6
7.0

Question 9

In [10]:
 input("Enter your first name: ")

Enter your first name: Athul

'Athul'